#cloudcms_nolist{
	width:100%;
	height:380px;
	float:left;
	background-image:url(../yunteng_cc_images/cloudcms_nolist.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
#cloudcms_nolist a{
	width:100px;
	height:40px;
	line-height:40px;
	text-align:center;
	float:right;
	font-size:15px;
	color:#71b2db;
	border-radius:6px;
	border:#71b2db 1px solid;
	margin:0 auto;
}
#cloudcms_nolist a:hover{
	color:#ffffff;
	background-color:#71b2db;
}

#box_left_paging{
	width:96%;
	padding:1.8%;
	margin-bottom:20px;
	background-color:#ffffff;
	box-shadow:0 0 10px #cccccc;
	border:#cccccc 1px solid;
	float:left;
	border-radius:6px;
}
#box_left_paging ul{
	width:100%;
	float:left;
}
#box_left_paging ul li{
	margin:5px 10px;
	float:left;
	color:#45bcf9;
	border-radius:6px;
	border:#45bcf9 1px solid;
	/*display:inline;*/
}
#box_left_paging ul li:hover{
	color:#ffffff;
	background-color:#61c6fa;
}
#box_left_paging ul li:hover a{
	color:#ffffff;
}
#box_left_paging ul li a{
	float:left;
	padding:5px 10px;
	color:#45bcf9;
}
.cloudcms_selectpage{
	color:#ffffff;
	background-color:#61c6fa;
}
.cloudcms_selectpage a{
	color:#ffffff !important;
}

#box_left_info_main_formlink{
	width:96%;
	margin:10px 2%;
	float:left;
}
#box_left_info_main_formlink ul{
	width:100%;
	float:left;
}
#box_left_info_main_formlink ul li{
	width:100%;
	line-height:26px;
	float:left;
	margin-top:10px;
}
#box_left_info_main_formlink ul li strong{
	width:100px;
	float:left;
	font-size:14px;
}
#box_left_info_main_formlink_text{
	width:200px;
	height:26px;
	float:left;
	padding:0px 10px;
	border:#cccccc 1px solid;
	color:#cccccc;
	outline:none;
}
#box_left_info_main_formlink_code{
	width:80px;
	height:26px;
	float:left;
	padding:0px 10px;
	border:#cccccc 1px solid;
	color:#cccccc;
	outline:none;
}
#box_left_info_main_formlink ul li span{
	float:left;
	margin-left:10px;
}
#box_left_info_main_formlink_codeimg{
	width:74px;
	height:26px;
	float:left;
	border-radius:6px;
	border:#cccccc 1px solid;
}
#box_left_info_main_formlink_submit{
	width:80px;
	height:34px;
	float:left;
	margin:5px;
	font-size:13px;
	color:#ffffff;
	border-radius:6px;
	border:#ffffff 1px solid;
	background-color:#61c6fa;
	outline:none;
}

#box_left_info_main_link{
	width:96%;
	margin:10px 2%;
	float:left;
	color:#999999;
	font-size:13px;
	line-height:28px;
}
#box_left_info_main_link li{
	height:30px;
	line-height:30px;
	float:left;
	margin:10px;
}
#box_left_info_main_link li a{
	height:30px;
	line-height:30px;
	float:left;
	padding:5px 10px;
	border-radius:6px;
	color:#999999;
	border:#999999 1px solid;
}
#box_left_info_main_link a:hover{
	color:#ffffff;
	background-color:#61c6fa;
	border:#3fb0eb 1px solid;
}
#box_left_info_main_link li img{
	width:88px;
	height:30px;
	float:left;
}

#box_left_info_plug_page{
	width:90%;
	padding:2% 5%;
	margin-top:20px;
	float:left;
	border-top:#f4f4f4 2px dashed;
}
#box_left_info_plug_page ul{
	width:100%;
	float:left;
}
#box_left_info_plug_page ul li{
	width:46%;
	margin:2%;
	float:left;
	color:#777777;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
#box_left_info_plug_page ul li a{
	color:#777777;
}
#box_left_info_plug_page ul li:hover{
	color:#61c6fa;
}