#box_left{
	width:65%;
	float:left;
}
#box_left_div{
	width:96%;
	padding:1.8%;
	margin-bottom:20px;
	background-color:#ffffff;
	box-shadow:0 0 10px #cccccc;
	border:#cccccc 1px solid;
	float:left;
	border-radius:6px;
}
#box_left_div:hover{
	background-color:#fafdff;
	border:#88d3f9 1px solid;
}
#box_left_div_img{
	width:30%;
	max-height:210px;
	float:left;
}
#box_left_div_img a{
	width:100%;
	max-height:175px;
	float:left;
	border-radius:6px;
	overflow:hidden;
}
#box_left_div_img img{
	min-width:234px;
	max-width:234px;
	min-height:175px;
	max-height:175px;
	border-radius:6px;
}
#box_left_div_info{
	width:65%;
	float:left;
	margin-left:5%;
}
#box_left_div_info h2{
	width:95%;
	height:38px;
	line-height:38px;
	float:left;
	padding-right:5%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-size:18px;
}
#box_left_div_info h2 a{
	color:#555555;
}
#box_left_div_info h2 a:hover{
	color:#61b3e6;
}
#box_left_div_info ul{
	width:95%;
	float:left;
	padding-right:5%;
	margin-top:8px;
}
#box_left_div_info ul i{
	height:22px;
	line-height:22px;
	background-color:#45bcf9;
	padding:2px 8px;
	margin:2px;
	font-size:12px;
	float:left;
	border-radius:6px;
}
#box_left_div_info ul i:hover{
	background-color:#61c6fa;
}
#box_left_div_info ul i a{
	color:#ffffff;
}
#box_left_div_info ul li{
	padding:5px 10px;
	overflow:hidden;
	font-size:13px;
}
#box_left_div_info ul li a{
	color:#999999;
}
@media (max-width:1020px){
	#box_left_div_info h2{
		height:32px;
		line-height:32px;
		font-size:16px;
	}
	#box_left_div_info ul i{
		padding:3px 8px;
	}
	#box_left_div_img img{
		min-height:138px;
		max-height:138px;
	}
}
@media (max-width:850px){
	#box_left_div_info ul li{
		height:50px;
		line-height:26px;
		overflow:hidden;
	}
}
@media (max-width:768px){
	#box_left_div_info h2{
		width:95%;
		height:38px;
		line-height:38px;
		font-size:20px;
	}
	#box_left_div_info ul li{
		font-size:15px;
	}
}
@media (min-width:851px){
	#box_left_div_info ul li{
		height:50px;
		line-height:26px;
		overflow:hidden;
	}
}
@media (min-width:1021px){
	#box_left_div_info ul li{
		height:78px;
		line-height:26px;
		overflow:hidden;
	}
}
#box_left_ytimg{
	width:100%;
	margin-bottom:20px;
	background-color:#ffffff;
	box-shadow:0 0 10px #cccccc;
	border:#cccccc 1px solid;
	float:left;
	border-radius:6px;
	overflow-x:hidden;
}
#box_left_ytimg:hover{
	background-color:#fafdff;
	border:#88d3f9 1px solid;
}
#box_left_ytimg a{
	width:98%;
	padding:0px 1%;
	float:left;
	margin-top:5px;
	margin-bottom:5px;
	border-radius:6px;
}
#box_left_ytimg a img{
	width:100%;
	float:left;
	border-radius:6px;
}
#box_left_info{
	width:96%;
	padding:1.8%;
	margin-bottom:20px;
	background-color:#ffffff;
	box-shadow:0 0 10px #cccccc;
	border:#cccccc 1px solid;
	float:left;
	border-radius:6px;
}
#box_left_info_main{
	width:100%;
	float:left;
}
#box_left_info_main_h2{
	width:96%;
	margin:0px 2%;
	padding-bottom:10px;
	float:left;
	border-bottom:#f4f4f4 2px dashed;
}
#box_left_info_main_h2 strong{
	width:100%;
	line-height:34px;
	float:left;
	font-size:18px;
	letter-spacing:4px;
	color:#999999;
}
#box_left_info_main_h2 strong:hover{
	color:#61c6fa;
}
#box_left_info_main_h2 span{
	line-height:30px;
	float:left;
	font-size:14px;
	margin:0px 10px;
	color:#777777;
}
#box_left_info_main_h2 span a{
	color:#777777;
}
#box_left_info_main_h2 span a:hover{
	color:#61c6fa;
}
@media (max-width:850px){
	#box_left_info_main_h2 strong{
		line-height:48px;
		font-size:22px;
	}
	#box_left_info_main_h2 span{
		font-size:15px;
	}
}
#box_left_info_main_ul{
	width:96%;
	margin:10px 2%;
	float:left;
	color:#999999;
	font-size:15px;
	line-height:28px;
	overflow:hidden;
}
#box_left_info_main_ul a{
	color:#999999;
}
#box_left_info_main_ul a:hover{
	color:#61c6fa;
}
#box_left_info_main_ul img{
	max-width:96%;
	margin:1%;
	padding:1%;
	border-radius:18px;
	background-color:#f4f4f4;
}
#box_left_info_main_ul img:hover{
	background-color:#80d4ff;
}
#box_left_info_main_ul_download{
	width:190px;
	height:66px;
	float:left;
	margin-right:20px;
	background-image:url(../yunteng_cc_boke/box_left_info_main_ul_download.png);
	background-position:center;
	background-repeat:no-repeat;
}
#box_left_info_main_ul_download span{
	display:none;
	font-size:0px;
	overflow:hidden;
}
#box_left_info_main_ul_download_pass{
	line-height:40px;
	float:left;
	padding-left:30px;
	background-image:url(../yunteng_cc_boke/box_left_info_main_ul_download_pass.png);
	background-position:left;
	background-repeat:no-repeat;
	font-size:14px;
	color:#b5b5b5 !important;
	font-weight:bold;
}
#box_left_info_main_info{
	width:96%;
	margin:10px 2%;
	float:left;
}
#box_left_info_main_info span{
	line-height:28px;
	margin:2px 2%;
	padding-bottom:4px;
	float:left;
	font-size:14px;
	color:#999999;
	border-bottom:#eeeeee 1px dashed;
}
@media (max-width:850px){
	#box_left_info_main_info span{
		font-size:15px;
	}
}
#box_left_info_main_info_50{
	width:46%;
}
#box_left_info_main_info_100{
	width:96%;
}
#box_left_info_main_info_down{
	width:96%;
}
#box_left_info_main_info_down li{
	height:32px;
	line-height:32px;
	float:left;
	margin:5px 10px;
	padding-left:40px;
	padding-right:10px;
	border-radius:6px;
	background-color:#61c6fa;
	background-image:url(box_left_info_main_info_down.png);
	background-position:left;
	background-repeat:no-repeat;
}
#box_left_info_main_info_down li:hover{
	background-color:#f57d6d;
}
#box_left_info_main_info_down li a{
	color:#ffffff;
}
#box_left_info_plug{
	width:100%;
	float:left;
	margin-top:20px;
}
#box_left_info_plug_copy{
	width:90%;
	padding:2% 5%;
	line-height:28px;
	float:left;
	background-color:#fafafa;
	text-align:center;
}
#box_left_info_plug_copy a{
	color:#777777;
}
#box_left_info_plug_copy a:hover{
	color:#61c6fa;
}
#box_link{
	width:96%;
	padding:1.8%;
	margin-bottom:20px;
	background-color:#ffffff;
	box-shadow:0 0 10px #cccccc;
	border:#cccccc 1px solid;
	float:left;
	border-radius:6px;
}
#box_link:hover{
	background-color:#fafdff;
	border:#88d3f9 1px solid;
}
#box_link h2{
	width:100%;
	height:32px;
	float:left;
}
#box_link strong{
	height:32px;
	line-height:32px;
	float:left;
	font-size:20px;
}
#box_link span{
	height:32px;
	line-height:32px;
	float:right;
	color:#999999;
	font-size:14px;
}
#box_link span a{
	color:#999999;
}
#box_link ul{
	width:100%;
	float:left;
}
#box_link ul li{
	width:16%;
	float:left;
	margin:1%;
	padding:1%;
	color:#ffffff;
	font-size:13px;
	line-height:24px;
	overflow:hidden;
	border-radius:6px;
	text-align:center;
	text-overflow: ellipsis;
	white-space:nowrap;
	background-color:#45bcf9;
}
#box_link li:hover{
	background-color:#61c6fa;
}
#box_link li a{
	color:#ffffff;
}
@media (min-width:850px){
	#box_link{
		display:none;
	}
}
#box_right{
	width:32%;
	float:left;
	margin-left:2.8%;
}
#box_right_div{
	width:96%;
	padding:4px 2%;
	margin-bottom:20px;
	background-color:#ffffff;
	box-shadow:0 0 10px #cccccc;
	border:#cccccc 1px solid;
	float:left;
	border-radius:6px;
}
#box_right_div:hover{
	background-color:#fafdff;
	border:#88d3f9 1px solid;
}
#box_right_div h2{
	width:100%;
	height:38px;
	line-height:38px;
	float:left;
}
#box_right_div h2 strong{
	height:38px;
	line-height:38px;
	float:left;
	font-size:18px;
	padding-left:36px;
	background-position:left;
	background-repeat:no-repeat;
}
#box_right_div h2 span{
	float:right;
	font-size:13px;
}
#box_right_div h2 span a{
	color:#999999;
}
#box_right_div_h2_strong_list{
	background-image:url(../yunteng_cc_boke/box_right_div_h2_strong_list.png);
}
#box_right_div_h2_strong_focus{
	background-image:url(../yunteng_cc_boke/box_right_div_h2_strong_focus.png);
}
#box_right_div_h2_strong_love{
	background-image:url(../yunteng_cc_boke/box_right_div_h2_strong_love.png);
}
#box_right_div_h2_strong_link{
	background-image:url(../yunteng_cc_boke/box_right_div_h2_strong_link.png);
}
#box_right_div_h2_strong_tui{
	background-image:url(../yunteng_cc_boke/box_right_div_h2_strong_tui.png);
}
#box_right_div_h2_strong_adimg{
	background-image:url(../yunteng_cc_boke/box_right_div_h2_strong_adimg.png);
}
#box_right_div_h2_strong_search{
	background-image:url(../yunteng_cc_boke/box_right_div_h2_strong_search.png);
}
#box_right_div h2 strong a{
	color:#61c6fa;
}
#box_right_div_list_nav{
	width:100%;
	line-height:38px;
	float:left;
	margin-top:5px;
	margin-bottom:5px;
}
#box_right_div_list_nav li{
	width:80%;
	float:left;
	margin:3px 5%;
	color:#b7b7b7;
	font-size:13px;
	line-height:24px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	padding-left:10%;
	background-image:url(../yunteng_cc_boke/box_right_div_ul_nav_bg.png);
	background-position:left;
	background-repeat:no-repeat;
}
#box_right_div_list_nav li:hover{
	color:#61b3e6;
	background-image:url(../yunteng_cc_boke/box_right_div_ul_nav_hover.png);
}
#box_right_div_list_nav a{
	color:#b7b7b7;
}
#box_right_div_list_nav a:hover{
	color:#61b3e6;
}
#box_right_div_list_ul{
	width:100%;
	line-height:38px;
	float:left;
	margin-top:5px;
	margin-bottom:5px;
}
#box_right_div_list_ul li{
	width:80%;
	float:left;
	margin:3px 5%;
	color:#b7b7b7;
	font-size:13px;
	line-height:24px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	padding-left:10%;
	background-image:url(../yunteng_cc_boke/box_right_div_ul_new_bg.png);
	background-position:left;
	background-repeat:no-repeat;
}
#box_right_div_list_ul li:hover{
	color:#61b3e6;
	background-image:url(../yunteng_cc_boke/box_right_div_ul_new_hover.png);
}
#box_right_div_list_ul a{
	color:#b7b7b7;
}
#box_right_div_list_ul a:hover{
	color:#61b3e6;
}
#box_right_div_list_search{
	width:100%;
	line-height:38px;
	float:left;
	margin-top:5px;
	margin-bottom:5px;
}
#box_right_div_list_search_text{
	width:82%;
	height:30px;
	line-height:30px;
	float:left;
	outline:none;
	border:#cccccc 1% solid;
	border-radius:6px;
	margin-left:2%;
	padding:0px 2%;
	color:#999999;
	font-size:13px;
}
#box_right_div_list_search_submit{
	width:10%;
	height:34px;
	float:left;
	outline:none;
	border:0px;
	background-color:transparent;
	background-image:url(../yunteng_cc_boke/box_right_div_list_search_submit.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100%;
}
#box_right_div_list_link{
	width:100%;
	line-height:38px;
	float:left;
	margin-top:5px;
	margin-bottom:5px;
}
#box_right_div_list_link li{
	width:27%;
	float:left;
	margin:1%;
	padding:2%;
	color:#ffffff;
	font-size:13px;
	line-height:24px;
	overflow:hidden;
	border-radius:6px;
	text-align:center;
	text-overflow: ellipsis;
	white-space:nowrap;
	background-color:#45bcf9;
}
#box_right_div_list_link li:hover{
	background-color:#61c6fa;
}
#box_right_div_list_link li a{
	color:#ffffff;
}
#box_right_div_list_adimg{
	width:100%;
	float:left;
}
#box_right_div_list_adimg a{
	width:98%;
	padding:1%;
	float:left;
	margin-top:5px;
	margin-bottom:5px;
	border-radius:6px;
}
#box_right_div_list_adimg a:hover{
	background-color:#88d3f9;
}
#box_right_div_list_adimg a img{
	width:100%;
	float:left;
	border-radius:6px;
}
@media (max-width:850px){
	#box_left{
		width:100%;
		float:left;
	}
	#box_left_div_info_content_label{
		display:none;
	}
	#box_right{
		display:none;
	}
}
@import"add.css";