<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>安装程序 - 云腾科技 - yunteng.cc</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="logo">
	<div id="logo_main">
    	<img src="images/logo.jpg" />
    </div>
</div>
<div id="nav">
	<div id="nav_main">
        <ul>
        	<li class="nav_index"><b>许可协议</b></li>
            <li><b>环境检测</b></li>
            <li><i>参数配置</i></li>
            <li><i>正在安装</i></li>
            <li><i>安装完成</i></li>
        </ul>
    </div>
</div>
<div id="box">
	<div id="box_main">
    	<div id="box_h2"><strong>服务器信息</strong><span></span></div>
        <div id="box_ul">
        	<ul>
		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="twbox">
			<tr style="height:34px; line-height:34px; text-align:center;">
				<th><strong>参数</strong></th>
				<th><strong>值</strong></th>
			</tr>
			<tr style="height:28px; line-height:28px; text-align:center;">
					<td><strong>服务器域名</strong></td>
					<td><?php echo $sp_name; ?></td>
			</tr>
			<tr style="height:28px; line-height:28px; text-align:center;">
					<td><strong>服务器操作系统</strong></td>
					<td><?php echo $sp_os; ?></td>
			</tr>
			<tr style="height:28px; line-height:28px; text-align:center;">
					<td><strong>服务器解译引擎</strong></td>
					<td><?php echo $sp_server; ?></td>
			</tr>
			<tr style="height:28px; line-height:28px; text-align:center;">
					<td><strong>PHP版本</strong></td>
					<td><?php echo $phpv; ?></td>
			</tr>
			<tr style="height:28px; line-height:28px; text-align:center;">
					<td><strong>系统安装目录</strong></td>
					<td><?php echo DEDEROOT; ?></td>
			</tr>
		</table>
        	</ul>
        </div>
        <div id="box_h2"><strong>系统环境检测</strong><span></span></div>
        <div id="box_ul">
        	<ul>
            	<li>系统环境要求必须满足下列所有条件，否则系统或系统部份功能将无法使用。</li>
		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="twbox">
			<tr style="height:34px; line-height:34px; text-align:center;">
				<th width="20%" align="center"><strong>需开启的变量或函数</strong></th>
				<th width="10%"><strong>要求</strong></th>
				<th width="50%"><strong>实际状态及建议</strong></th>
			</tr>
			<tr style="height:28px; line-height:28px; text-align:center;">
					<td>allow_url_fopen</td>
					<td align="center">On </td>
					<td><?php echo $sp_allow_url_fopen; ?> <small>(不符合：将导致采集、远程等功能无法使用)</small></td>
			</tr>
			<tr style="height:28px; line-height:28px; text-align:center;">
					<td>safe_mode</td>
					<td align="center">Off</td>
					<td><?php echo $sp_safe_mode; ?> <small>(本系统不支持在<span class="STYLE2">非win主机的安全模式</span>下运行)</small></td>
			</tr>
			<tr style="height:28px; line-height:28px; text-align:center;">
					<td>GD 支持 </td>
					<td align="center">On</td>
					<td><?php echo $sp_gd; ?> <small>(不支持：将导致与图片相关功能无法使用)</small></td>
			</tr>
			<tr style="height:28px; line-height:28px; text-align:center;">
					<td>MySQL 支持</td>
					<td align="center">On</td>
					<td><?php echo $sp_mysql; ?> <small>(不支持：无法使用本系统)</small></td>
			</tr>
		</table>
        	</ul>
        </div>
		<div id="box_h2"><strong>目录权限检测</strong><span></span></div>
        <div id="box_ul">
        	<ul>
            	<li>系统要求必须满足下列所有的目录权限全部可读写的需求才能使用，其它应用目录可安装后在管理后台检测。</li>
		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="twbox">
			<tr style="height:34px; line-height:34px; text-align:center;">
				<th width="20%" align="center"><strong>目录名</strong></th>
				<th width="20%"><strong>读取权限</strong></th>
				<th width="20%"><strong>写入权限</strong></th>
			</tr>
			<?php
			foreach($sp_testdirs as $d)
			{
			?>
			<tr style="height:28px; line-height:28px; text-align:center;">
					<td><?php echo $d; ?></td>
					<?php
      		$fulld = DEDEROOT.str_replace('/*','',$d);
      		$rsta = (is_readable($fulld) ? '<font color=green>[√]读</font>' : '<font color=red>[×]读</font>');
	    		$wsta = (TestWrite($fulld) ? '<font color=green>[√]写</font>' : '<font color=red>[×]写</font>');
	    		echo "<td>$rsta</td><td>$wsta</td>\r\n";
      ?>
			</tr>
			<?php
			}
			?>
		</table>
        	</ul>
        </div>
		<div id="box_input">
        	<ul>
            	<li><input id="btn_next" type="button" class="btn-back" value="后　退" onclick="window.location.href='index.php';" /></li>
				<li><input id="btn_next" type="button" class="btn-next" value="继　续" onclick="window.location.href='index.php?step=3';" /></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>