<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>安装程序 - 云腾科技 - yunteng.cc</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="logo">
	<div id="logo_main">
    	<img src="images/logo.jpg" />
    </div>
</div>
<div id="nav">
	<div id="nav_main">
        <ul>
        	<li class="nav_index"><b>许可协议</b></li>
            <li><i>环境检测</i></li>
            <li><i>参数配置</i></li>
            <li><i>正在安装</i></li>
            <li><i>安装完成</i></li>
        </ul>
    </div>
</div>
<div id="box">
	<div id="box_main">
    	<div id="box_h2"><strong>阅读许可协议</strong></div>
        <div id="box_ul">
        	<ul>
            	<li><strong>云腾精简织梦CMS - 网站安装</strong></li>
                <li>　　感谢您选择由云腾科技开发的织梦精简系统（以下简称织梦精简CMS），织梦精简CMS是2016年推出的一款针对文章、软件、商品发布的系统，目前是国内最稳定、人性化的精简CMS网站建设解决方案之一，基于 PHP + MySQL 的技术开发，全部源码开放。</li>
                <li>　　为了使您正确并合法的使用本软件，请您在使用前务必阅读清楚下面的协议条款：</li>
                <li><strong>一、本授权协议</strong></li>
                <li>　　适用且仅适用于 织梦精简CMS 3.0.2.5 版本，推荐使用PHP5.2+MYSQL5的WEB环境，云腾科技（www.yunteng.cc）对本授权协议拥有最终解释权。</li>
                <li><strong>二、协议许可的权利 </strong></li>
                <li>1、您可以在完全遵守本最终用户授权协议的基础上，将本软件应用于非商业用途，而不必支付软件版权授权费用。 </li>
                <li>2、您可以在协议规定的约束和限制范围内修改 织梦精简CMS 源代码或界面风格以适应您的网站要求。 </li>
                <li>3、您拥有使用本软件构建的网站全部内容所有权，并独立承担与这些内容的相关法律义务。 </li>
                <li><strong>三、协议规定的约束和限制</strong></li>
                <li>1、未获商业授权之前，不得将本软件用于商业用途（包括但不限于企业网站、经营性网站、以营利为目的或实现盈利的网站）。</li>
                <li>2、未经官方许可，不得对本软件或与之关联的商业授权进行出租、出售、抵押或发放子许可证。</li>
                <li>3、不管您的网站是否整体使用 织梦精简CMS ，还是部份栏目使用 织梦精简CMS，在您使用了 织梦精简CMS 的网站主页上必须保留相关版权信息链接。</li>
                <li>4、未经官方许可，禁止在 织梦精简CMS 的整体或任何部分基础上以发展任何派生版本、修改版本或第三方版本用于重新分发。</li>
                <li>5、如果您未能遵守本协议的条款，您的授权将被终止，所被许可的权利将被收回，并承担相应法律责任。</li>
                <li><strong>四、有限担保和免责声明</strong></li>
                <li>1、本软件及所附带的文件是作为不提供任何明确的或隐含的赔偿或担保的形式提供的。 </li>
                <li>2、用户出于自愿而使用本软件，您必须了解使用本软件的风险，在尚未购买产品技术服务之前，我们不承诺对免费用户提供任何形式的技术支持、使用担保，也不承担任何因使用本软件而产生问题的相关责任。 </li>
                <li>3、电子文本形式的授权协议如同双方书面签署的协议一样，具有完全的和等同的法律效力。您一旦开始确认本协议并安装织梦精简CMS，即被视为完全理解并接受本协议的各项条款，在享有上述条款授予的权力的同时，受到相关的约束和限制。协议许可范围以外的行为，将直接违反本授权协议并构成侵权，我们有权随时终止授权，责令停止损害，并保留追究相关责任的权力。</li>
                <li>4、如果本软件带有其它软件的整合API示范例子包，这些文件版权不属于本软件官方，并且这些文件是没经过授权发布的，请参考相关软件的使用许可合法的使用。</li>
            </ul>
        </div>
        <div id="box_input">
        	<ul>
            	<li style="display:none;"><input id="readpact" name="readpact" type="checkbox" checked="checked" /></li>
				<li><input id="btn_next" type="button" value="继　续" onclick="document.getElementById('readpact').checked ?window.location.href='index.php?step=2' : alert('您必须同意许可协议才能安装本系统！');" /></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>