<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>安装程序 - 云腾科技 - yunteng.cc</title>
<script src="../include/dedeajax2.js" language="javascript" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
<!--
    function $o(tid){
        return document.getElementById(tid);
    }
    function TestDb()
    {
		var dbhost = $o('dbhost').value;
        var dbuser = $o('dbuser').value;
        var dbpwd = $o('dbpwd').value;
		$o('havedbsta').innerHTML='<img src=\'images/ajax-loader.gif\'>';
        var myajax = new DedeAjax($o('dbpwdsta'),false,true,'-','-','...');
        myajax.SendGet2('index.php?step=10&dbhost='+dbhost+'&dbuser='+dbuser+'&dbpwd='+dbpwd);
		DedeXHTTP = null;
		HaveDB();
    }
	
	function HaveDB()
    {
		var dbhost = $o('dbhost').value;
        var dbname = $o('dbname').value;
        var dbuser = $o('dbuser').value;
        var dbpwd = $o('dbpwd').value;
        var myajax = new DedeAjax($o('havedbsta'),false,true,'-','-','...');
        myajax.SendGet2('index.php?step=10&dbhost='+dbhost+'&dbuser='+dbuser+'&dbpwd='+dbpwd+'&dbname='+dbname);
		DedeXHTTP = null;
    }
    
	function GetRemoteDemo()
	{
		
		$o('_remotesta').innerHTML='<img src=\'images/ajax-loader.gif\'>';
		var myajax = new DedeAjax($o('_remotesta'),false,true,'-','-','...');
		myajax.SendGet2('index.php?step=11');
		DedeXHTTP = null;
	}
	
    function DoInstall()
    {
        //$o('postloader').style.display = 'block';
        document.form1.submit();
    }
-->
</script>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="logo">
	<div id="logo_main">
    	<img src="images/logo.jpg" />
    </div>
</div>
<div id="nav">
	<div id="nav_main">
        <ul>
        	<li class="nav_index"><b>许可协议</b></li>
            <li><b>环境检测</b></li>
            <li><b>参数配置</b></li>
            <li><i>正在安装</i></li>
            <li><i>安装完成</i></li>
        </ul>
    </div>
</div>
<form action="index.php" method="post" name="form1">
<input type="hidden" name="step" value="4" />
<div id="box">
	<div id="box_main">
    	<div id="box_h2"><strong>数据库设定</strong><span></span></div>
        <div id="box_ul">
        	<ul>
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="twbox">
            <tr style="height:28px; line-height:28px; text-align:center;">
                <td style="width:200px;"><strong>数据库主机：</strong></td>
                <td><input id="box_tx" name="dbhost" type="text" value="localhost" autocomplete="off" /></td>
            </tr>
            <tr style="height:28px; line-height:28px; text-align:center;">
                <td style="width:200px;"><strong>数据库用户：</strong></td>
                <td><input id="box_tx" name="dbuser" type="text" value="root" autocomplete="off" /></td>
            </tr>
            <tr style="height:28px; line-height:28px; text-align:center;">
                <td style="width:200px;"><strong>数据库密码：</strong></td>
                <td><input id="box_tx" name="dbpwd" type="text" onChange="TestDb()" autocomplete="off" /></td>
            </tr>
			<tr style="height:28px; line-height:28px; text-align:center;">
                <td style="width:200px;"><strong>数据表前缀：</strong></td>
                <td><input id="box_tx" name="dbprefix" type="text" value="yt_" autocomplete="off" /></td>
            </tr>
			<tr style="height:28px; line-height:28px; text-align:center;">
                <td style="width:200px;"><strong>数据库名称：</strong></td>
                <td><input id="box_tx" name="dbname" type="text" value="<?php echo $dfDbname; ?>" onChange="HaveDB()" autocomplete="off" /></td>
            </tr>
            <tr style="width:0px; height:0px; overflow:hidden; float:left; position:absolute; display:none;">
                <td style="width:200px;"><strong>数据库编码：</strong></td>
                <td>
                        <?php
                        if($s_lang=='utf-8')
                        {
                        ?>
                        <input type="radio" name="dblang" id="dblang_utf8" value="utf8" checked="checked" /><label for="dblang_latin1">UTF8</label>
                        <?php
                        }
                        else
                        {
                        ?>
                        <input type="radio" name="dblang" id="dblang_gbk" value="gbk" checked="checked" /><label for="dblang_gbk">GBK</label>
                        <input type="radio" name="dblang" id="dblang_latin1" value="latin1" /><label for="dblang_latin1">LATIN1</label>
                        <?php
                        }
                        ?>
                </td>
            </tr>
        </table>
        	</ul>
        </div>
        <div id="box_h2"><strong>管理员初始密码</strong><span></span></div>
        <div id="box_ul">
        	<ul>
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="twbox">
            <tr style="height:28px; line-height:28px; text-align:center;">
                <td style="width:200px;"><strong>用户名：</strong></td>
                <td><input id="box_tx" name="adminuser" type="text" value="admin" maxlength="11" autocomplete="off" /></td>
            </tr>
            <tr style="height:28px; line-height:28px; text-align:center;">
                <td style="width:200px;"><strong>密　码：</strong></td>
                <td><input id="box_tx" name="adminpwd" type="text" value="admin" maxlength="26" autocomplete="off" /></td>
            </tr>
            <tr style="height:28px; line-height:28px; text-align:center;">
                <td style="width:200px;"><strong>Cookie加密码：</strong></td>
                <td><input id="box_tx" name="cookieencode" type="text" value="<?php echo $rnd_cookieEncode; ?>" readonly /></td>
            </tr>
        </table>
        	</ul>
        </div>
        <div id="box_h2"><strong>网站设置</strong><span></span></div>
        <div id="box_ul">
        	<ul>
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="twbox">
            <tr style="height:28px; line-height:28px; text-align:center;">
                <td style="width:200px;"><strong>网站名称：</strong></td>
                <td><input id="box_tx" name="webname" type="text" value="云腾科技 - yunteng.cc" autocomplete="off" /></td>
            </tr>
            <tr style="height:28px; line-height:28px; text-align:center;">
                <td style="width:200px;"><strong>管理员邮箱：</strong></td>
                <td><input id="box_tx" name="adminmail" type="text" value="cloud@yunteng.cc" autocomplete="off" /></td>
            </tr>
            <tr style="height:28px; line-height:28px; text-align:center;">
                <td style="width:200px;"><strong> 网站网址：</strong></td>
                <td><input id="box_tx" name="baseurl" type="text" value="<?php echo $baseurl; ?>" autocomplete="off" /></td>
            </tr>
            <tr style="height:28px; line-height:28px; text-align:center;">
                <td style="width:200px;"><strong>CMS安装目录：</strong></td>
                <td><input id="box_tx" name="cmspath" type="text" value="<?php echo $basepath; ?>" autocomplete="off" /></td>
            </tr>
        </table>
        	</ul>
        </div>
        <div id="box_input">
        	<ul>
            	<li><input id="btn_next" type="button" value="后　退" onclick="window.location.href='index.php?step=2';" /></li>
				<li><input id="btn_next" type="button" value="开始安装" onclick="DoInstall();" /></li>
            </ul>
        </div>
    </div>
</div>
</form>
</body>
</html>