<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>安装程序 - 云腾科技 - yunteng.cc</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="logo">
	<div id="logo_main">
    	<img src="images/logo.jpg" />
    </div>
</div>
<div id="nav">
	<div id="nav_main">
        <ul>
        	<li class="nav_index"><b>许可协议</b></li>
            <li><b>环境检测</b></li>
            <li><b>参数配置</b></li>
            <li><b>正在安装</b></li>
            <li><i>安装完成</i></li>
        </ul>
    </div>
</div>
<div id="box">
	<div id="box_main">
    	<div id="box_h2"><strong>正在安装模块</strong><span></span></div>
        <div id="box_ul">
			<iframe src="index.php?step=5" id="mainfra" name="mainfra" frameborder="0" width='100%' height='350px'></iframe>
        </div>
    </div>
</div>
</body>
</html>