body{
	margin:0px;
	font-size:12px;
	color:#333333;
}
*{
	margin:0px; padding:0px; list-style-type:none;
}
img{
	border:0px;
}
a{
	text-decoration:none;
}
body.ie8 #login_main{
	width:420px;
}
body.ie8 #login_banner{
	display:none;
}
body.ie7 #login_main{
	width:420px;
}
body.ie7 #login_banner{
	display:none;
}
body.ie6 #login_main{
	width:420px;
}
body.ie6 #login_banner{
	display:none;
}
#login{
	width:100%;
	height:400px;
	float:left;
	margin-top:6%;
}
#login_main{
	width:1000px;
	height:400px;
	margin:0 auto;
}
#login_banner{
	width:560px;
	height:400px;
	float:left;
	background-image:url(../yunteng_cc_images/login_banner.jpg);
	background-position:center;
	background-repeat:no-repeat;
	margin-right:20px;
}
#login_yunteng{
	width:420px;
	height:400px;
	float:left;
}
#login_form{
	width:420px;
	height:400px;
	float:left;
}
#login_form ul{
	width:420px;
	float:left;
}
#login_form ul li{
	width:420px;
	min-height:42px;
	float:left;
	margin-top:5px;
	margin-bottom:5px;
}
#login_form_input{
	width:356px;
	padding-left:50px;
	padding-right:12px;
	height:42px;
	line-height:42px;
	float:left;
	outline:none;
	color:#cccccc;
	border:#cccccc 1px solid;
	border-radius:6px;
	letter-spacing:10px;
	background-position:left;
	background-repeat:no-repeat;
}
#login_form_input:hover{
	color:#3188ff;
	border:#3188ff 1px solid;
}
#login_form_code{
	width:225px;
	margin-right:10px;
	padding-left:50px;
	padding-right:12px;
	height:42px;
	line-height:42px;
	float:left;
	outline:none;
	color:#cccccc;
	border:#cccccc 1px solid;
	border-radius:6px;
	letter-spacing:10px;
	background-position:left;
	background-repeat:no-repeat;
}
#login_form_code:hover{
	color:#3188ff;
	border:#3188ff 1px solid;
}
#login_form_vdimgck{
	width:117px;
	height:40px;
	float:left;
	border:#cccccc 1px solid;
}
#login_form_vdimgck:hover{
	border:#3188ff 1px solid;
}
.login_form_text{
	background-image:url(../yunteng_cc_images/login_form_text_bg.png);
}
.login_form_text:hover{
	background-image:url(../yunteng_cc_images/login_form_text_hover.png);
}
.login_form_pass{
	background-image:url(../yunteng_cc_images/login_form_pass_bg.png);
}
.login_form_pass:hover{
	background-image:url(../yunteng_cc_images/login_form_pass_hover.png);
}
.login_form_code{
	background-image:url(../yunteng_cc_images/login_form_code_bg.png);
}
.login_form_code:hover{
	background-image:url(../yunteng_cc_images/login_form_code_hover.png);
}
#login_form_button{
	width:420px;
	height:58px;
	line-height:58px;
	text-align:center;
	border:0px;
	border-radius:6px;
	background-color:#cccccc;
	color:#ffffff;
	text-shadow:1px 1px 1px #999999;
	font-size:28px;
	font-weight:bold;
	letter-spacing:4px;
	font-family:"Microsoft YaHei", "微软雅黑", "华文细黑";
	float:left;
	outline:none;
}
#login_form_button:hover{
	background-color:#2e85ff;
	color:#ffffff;
	text-shadow:1px 1px 1px #1c77f7;
}
@media (max-width:1080px){
	#login_main{
		width:420px;
	}
	#login_banner{
		display:none;
	}
}